{% extends 'base.html' %}

{% block content %}

<h1>아기사자 수정</h1>

<form method="post">

  {% csrf_token %}

  <div>
    <label>이름</label><br>

    <input
      type="text"
      name="name"
      value="{{ lion.name }}"
    >
  </div>

  <div>
    <label>트랙</label><br>

    <select name="track">

      <option value="Django"
        {% if lion.track == "Django" %}
          selected
        {% endif %}
      >
        Django
      </option>

      <option value="SpringBoot"
        {% if lion.track == "SpringBoot" %}
          selected
        {% endif %}
      >
        SpringBoot
      </option>

      <option value="Frontend"
        {% if lion.track == "Frontend" %}
          selected
        {% endif %}
      >
        Frontend
      </option>

    </select>
  </div>

  <br>

  <button type="submit">
    수정 완료
  </button>

</form>

<hr>

<a href="{% url 'lion_detail' lion.id %}">
  취소
</a>

{% endblock %}